In [1]:
from selenium import webdriver

In [6]:
chrome_path="C:\\Users\\ENOCK\\Downloads\\chromedriver-win64\\chromedriver.exe"

driver = webdriver.Chrome(executable_path=chrome_path)
driver.get("https://www.worldometers.info/world-population/population-by-country/#google_vignette")

In [17]:
country=driver.find_elements_by_xpath('//td[@style="font-weight: bold; font-size:15px; text-align:left"]')

In [20]:
country_name=[]
for i in country:
    country_name.append(i.text)

In [21]:
print(country_name)

['India', 'China', 'United States', 'Indonesia', 'Pakistan', 'Nigeria', 'Brazil', 'Bangladesh', 'Russia', 'Mexico', 'Ethiopia', 'Japan', 'Philippines', 'Egypt', 'DR Congo', 'Vietnam', 'Iran', 'Turkey', 'Germany', 'Thailand', 'United Kingdom', 'Tanzania', 'France', 'South Africa', 'Italy', 'Kenya', 'Myanmar', 'Colombia', 'South Korea', 'Uganda', 'Sudan', 'Spain', 'Argentina', 'Algeria', 'Iraq', 'Afghanistan', 'Poland', 'Canada', 'Morocco', 'Saudi Arabia', 'Ukraine', 'Angola', 'Uzbekistan', 'Yemen', 'Peru', 'Malaysia', 'Ghana', 'Mozambique', 'Nepal', 'Madagascar', "Côte d'Ivoire", 'Venezuela', 'Cameroon', 'Niger', 'Australia', 'North Korea', 'Taiwan', 'Mali', 'Burkina Faso', 'Syria', 'Sri Lanka', 'Malawi', 'Zambia', 'Romania', 'Chile', 'Kazakhstan', 'Chad', 'Ecuador', 'Somalia', 'Guatemala', 'Senegal', 'Netherlands', 'Cambodia', 'Zimbabwe', 'Guinea', 'Rwanda', 'Benin', 'Burundi', 'Tunisia', 'Bolivia', 'Haiti', 'Belgium', 'Jordan', 'Dominican Republic', 'Cuba', 'South Sudan', 'Sweden', 'Honduras', 'Czech Republic (Czechia)', 'Azerbaijan', 'Greece', 'Papua New Guinea', 'Portugal', 'Hungary', 'Tajikistan', 'United Arab Emirates', 'Belarus', 'Israel', 'Togo', 'Austria', 'Switzerland', 'Sierra Leone', 'Laos', 'Hong Kong', 'Serbia', 'Nicaragua', 'Libya', 'Paraguay', 'Kyrgyzstan', 'Bulgaria', 'Turkmenistan', 'El Salvador', 'Congo', 'Singapore', 'Denmark', 'Slovakia', 'Central African Republic', 'Finland', 'Norway', 'Liberia', 'State of Palestine', 'Lebanon', 'New Zealand', 'Costa Rica', 'Ireland', 'Mauritania', 'Oman', 'Panama', 'Kuwait', 'Croatia', 'Eritrea', 'Georgia', 'Mongolia', 'Moldova', 'Uruguay', 'Puerto Rico', 'Bosnia and Herzegovina', 'Albania', 'Jamaica', 'Armenia', 'Gambia', 'Lithuania', 'Qatar', 'Botswana', 'Namibia', 'Gabon', 'Lesotho', 'Guinea-Bissau', 'Slovenia', 'North Macedonia', 'Latvia', 'Equatorial Guinea', 'Trinidad and Tobago', 'Bahrain', 'Timor-Leste', 'Estonia', 'Mauritius', 'Cyprus', 'Eswatini', 'Djibouti', 'Réunion', 'Fiji', 'Comoros', 'Guyana', 'Bhutan', 'Solomon Islands', 'Macao', 'Luxembourg', 'Montenegro', 'Suriname', 'Cabo Verde', 'Western Sahara', 'Micronesia', 'Malta', 'Maldives', 'Brunei', 'Bahamas', 'Belize', 'Guadeloupe', 'Iceland', 'Martinique', 'Mayotte', 'Vanuatu', 'French Guiana', 'French Polynesia', 'New Caledonia', 'Barbados', 'Sao Tome & Principe', 'Samoa', 'Curaçao', 'Saint Lucia', 'Guam', 'Kiribati', 'Grenada', 'Tonga', 'Seychelles', 'Aruba', 'St. Vincent & Grenadines', 'U.S. Virgin Islands', 'Antigua and Barbuda', 'Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda', 'Greenland', 'Faeroe Islands', 'Northern Mariana Islands', 'Saint Kitts & Nevis', 'Turks and Caicos', 'Sint Maarten', 'American Samoa', 'Marshall Islands', 'Liechtenstein', 'Monaco', 'San Marino', 'Gibraltar', 'Saint Martin', 'British Virgin Islands', 'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Nauru', 'Wallis & Futuna', 'Tuvalu', 'Saint Barthelemy', 'Saint Pierre & Miquelon', 'Saint Helena', 'Montserrat', 'Falkland Islands', 'Niue', 'Tokelau', 'Holy See']

In [63]:
len(country_name)

234

In [25]:
population = driver.find_elements_by_xpath('//td[@style="font-weight: bold;"]')

In [28]:
Population = []
for i in population:
    Population.append(i.text)

In [29]:
print(Population)

['1,428,627,663', '1,425,671,352', '339,996,563', '277,534,122', '240,485,658', '223,804,632', '216,422,446', '172,954,319', '144,444,359', '128,455,567', '126,527,060', '123,294,513', '117,337,368', '112,716,598', '102,262,808', '98,858,950', '89,172,767', '85,816,199', '83,294,633', '71,801,279', '67,736,802', '67,438,106', '64,756,584', '60,414,495', '58,870,762', '55,100,586', '54,577,997', '52,085,168', '51,784,059', '48,582,334', '48,109,006', '47,519,628', '45,773,884', '45,606,480', '45,504,560', '42,239,854', '41,026,067', '38,781,291', '37,840,044', '36,947,025', '36,744,634', '36,684,202', '35,163,944', '34,449,825', '34,352,719', '34,308,525', '34,121,985', '33,897,354', '30,896,590', '30,325,732', '28,873,034', '28,838,499', '28,647,293', '27,202,843', '26,439,111', '26,160,821', '23,923,276', '23,293,698', '23,251,485', '23,227,014', '21,893,579', '20,931,751', '20,569,737', '19,892,812', '19,629,590', '19,606,633', '18,278,568', '18,190,484', '18,143,378', '18,092,026', '17,763,163', '17,618,299', '16,944,826', '16,665,409', '14,190,612', '14,094,683', '13,712,828', '13,238,559', '12,458,223', '12,388,571', '11,724,763', '11,686,140', '11,337,052', '11,332,972', '11,194,449', '11,088,796', '10,612,086', '10,593,798', '10,495,295', '10,412,651', '10,341,277', '10,329,931', '10,247,605', '10,156,239', '10,143,543', '9,516,871', '9,498,238', '9,174,520', '9,053,799', '8,958,960', '8,796,669', '8,791,092', '7,633,779', '7,491,609', '7,149,077', '7,046,310', '6,888,388', '6,861,524', '6,735,347', '6,687,717', '6,516,100', '6,364,943', '6,106,869', '6,014,723', '5,910,913', '5,795,199', '5,742,315', '5,545,475', '5,474,360', '5,418,377', '5,371,230', '5,353,930', '5,228,100', '5,212,173', '5,056,935', '4,862,989', '4,644,384', '4,468,087', '4,310,108', '4,008,617', '3,748,901', '3,728,282', '3,447,157', '3,435,931', '3,423,108', '3,260,314', '3,210,847', '2,832,439', '2,825,544', '2,777,970', '2,773,168', '2,718,352', '2,716,391', '2,675,352', '2,604,172', '2,436,566', '2,330,318', '2,150,842', '2,119,675', '2,085,679', '1,830,211', '1,714,671', '1,534,937', '1,485,509', '1,360,596', '1,322,765', '1,300,557', '1,260,138', '1,210,822', '1,136,455', '981,796', '936,375', '852,075', '813,834', '787,424', '740,424', '704,149', '654,768', '626,485', '623,236', '598,682', '587,259', '544,321', '535,064', '521,021', '452,524', '412,623', '410,825', '395,839', '375,318', '366,981', '335,995', '334,506', '312,155', '308,872', '292,991', '281,995', '231,856', '225,681', '192,077', '180,251', '172,952', '133,515', '126,183', '107,773', '107,660', '106,277', '103,698', '98,750', '94,298', '84,710', '80,088', '73,040', '69,310', '64,069', '56,643', '53,270', '49,796', '47,755', '46,062', '44,222', '43,914', '41,996', '39,584', '36,297', '33,642', '32,688', '32,077', '31,538', '27,148', '18,058', '17,044', '15,899', '12,780', '11,502', '11,396', '10,994', '5,840', '5,314', '4,386', '3,791', '1,935', '1,893', '518']

In [62]:
len(Population)

234

In [67]:
import pandas as pd

In [68]:
data = pd.DataFrame({"Country name":country_name,"Population":Population})

In [69]:
data

         Country name     Population
0               India  1,428,627,663
1               China  1,425,671,352
2       United States    339,996,563
3           Indonesia    277,534,122
4            Pakistan    240,485,658
..                ...            ...
229        Montserrat          4,386
230  Falkland Islands          3,791
231              Niue          1,935
232           Tokelau          1,893
233          Holy See            518

[234 rows x 2 columns]

In [71]:
data.to_csv("Population_by_country.csv")